@model (List<Buyer.Mvc.Models.ItemByCustomerOrder> ListItemByCustomerOrder, List<Buyer.Mvc.Models.CartDetail> ListCartDetail, List<Buyer.Mvc.Models.ItemSeason> listSeason, List<Buyer.Mvc.Models.PriceCurrency> listCurrency, List<Buyer.Mvc.Models.ItemCollection> listCollection, bool notifiOrderSuccess, string Gender, string Season, string Collection)
@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization;

@section CSS{
    <link rel="stylesheet" href="~/css/home.css" />
    @*<link rel="stylesheet" href="~/css/bootstrap-select.css" />*@
}

<div class="TotalOrder">
    <label for="nav-mobile-input" class="nav_bars-btn"><span><img width="50" src="~/image/cart-icon1.JPG" /></span></label>
    <label class="nav_bars-btn" style="top:40%"><a href="~/History/Index"><img width="50" src="~/image/history-icon.png" /></a></label>
    <input type="checkbox" hidden class="nav_input" id="nav-mobile-input">
    <label for="nav-mobile-input" class="nav_overlay"></label>

    <div class="nav_mobile">
        <label for="nav-mobile-input" class="nav_mobile_close" style="margin-left: 0px">
            <span class="btn btn-primary btn-sm">Close</span>
        </label>
        <form method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="infor-right">
                        <div class="price-box flex" style="padding-left: 50%;margin-bottom: 0px">
                            <p style="transform: translateX(-50%);" class="price">TOTAl ORDER</p>
                        </div>
                        <div class="infor-detail" style="margin-bottom: 0px">
                            <table id="example" class="table table-striped table-bordered table-sm infor-table"
                                   data-show-export="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-export-data-type="excel"
                                   data-click-to-select="true"
                                   data-height="450"
                                   data-pagination="true"
                                   data-export-types=['excel']
                                   data-page-list="[10, 25, 50, 100, 200, All]">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">Collection</th>
                                        <th scope="col">Sample</th>
                                        <th scope="col">FOBPrice</th>
                                        <th scope="col">Retail Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyTotalOrder">
                                    @foreach (var item in Model.ListCartDetail)
                                    {
                                        <tr>
                                            <td>@item.ItemCode</td>
                                            <td>@item.Collection</td>
                                            <th><img src="http://192.168.169.240/images/products/@item.URLPicture.Trim()" width="30" /></th>
                                            @*<td><img width="30" src="~/image/product/sp1.jpg" /></td>*@
                                            <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", item.FOBPrice)</td>
                                            <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", item.RetailPrice)</td>
                                            <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", item.Quantity)</td>
                                            <td class="totalPriceEachItem">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", item.TotalAmount)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex" style="justify-content: space-between">
                <button type="submit" class="btn btn-primary btn-sm" id="btnConfirmOrder">Confirm</button>
                <div class="TotalPrice" style="margin-left: 40%">
                    <p style="margin-bottom: 0px; font-size: 16px; font-weight: 500">Total Order: <span id="totalPriceOrder">0</span></p>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="presentacion" style="padding: 0px;">
    <div class="logo">
        <img src="/image/logo-az.JPG" alt="">
    </div>
</div>

<div class="filter">
    <form>
        <select class="filterItemOrder" style="width: 300px" id="cbbGender">
            <option selected="@Model.Gender.Equals("%")" value="%">-- All Gender --</option>
            <option selected="@Model.Gender.Equals("MEN")" value="MEN">Man</option>
            <option selected="@Model.Gender.Equals("WOMEN")" value="WOMEN">Women</option>
            <option selected="@Model.Gender.Equals("OTHER")" value="OTHER">Other</option>
        </select>

        <select class="filterItemOrder" style="width: 300px" id="cbbSeason">   
            <option selected="@Model.Season.Equals("%")" value="%">-- All Season --</option>
            @foreach (var item in Model.listSeason)
            {
                <option selected="@Model.Season.Equals(item.SeasonCode)" value="@item.SeasonCode">@item.SeasonCode - @item.Description</option>
            }
        </select>

        <select class="filterItemOrder" style="width: 300px" id="cbbCollection">
            <option selected="@Model.Collection.Equals("%")" value="%">-- All Collection --</option>
            @foreach (var item in Model.listCollection)
            {
                <option selected="@Model.Collection.Equals(item.CollectionCode)" value="@item.CollectionCode">@item.CollectionCode - @item.Description</option>
            }
        </select>

    </form>
</div>

@foreach (var item in Model.ListItemByCustomerOrder)
{
    <section>
        <div class="container1">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <img src="http://192.168.169.240/images/products/@item.ItemByCustomer.URLPicture.Trim()" style="max-width:100%" />
                            @*<img src="~/image/product/sp1.jpg" style="max-width:100%" />*@
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="infor-right">
                            <div class="price-box flex" style="margin-bottom: 0px">
                                <p class="price">@item.ItemByCustomer.Description - @String.Format(CultureInfo.InvariantCulture, "{0:0,0}", item.ItemByCustomer.FOBPrice) @item.ItemByCustomer.CurrencyCode</p>
                            </div>
                            <div class="infor-detail" style="margin-bottom: 0px">
                                <div class="box-gray o1">
                                    <div class="inventory flex">
                                        <span>Item Code:</span>
                                        <p>@item.ItemByCustomer.ItemCode</p>

                                    </div>
                                    <div class="product-code flex">
                                        <span>Season:</span>
                                        <p>@item.ItemByCustomer.SeasonCode - @item.ItemByCustomer.SeasonName</p>
                                    </div>
                                    <div class="product-code flex">
                                        <span>Collection:</span>
                                        <p>@item.ItemByCustomer.CollectionCode - @item.ItemByCustomer.CollectionName</p>
                                    </div>
                                </div>
                                <div class="box-gray o2 ">
                                    <div class="product-type flex">
                                        <span>Form:</span>
                                        <p>@item.ItemByCustomer.FormCode</p>
                                    </div>
                                    <div class="producer flex">
                                        <span>Fabric:</span>
                                        <p>@item.ItemByCustomer.Fabric</p>
                                    </div>
                                    <div class="product-type flex">
                                        <span>Category</span>
                                        <p>@item.ItemByCustomer.CategoryCode - @item.ItemByCustomer.CategoryName</p>
                                    </div>
                                </div>
                            </div>
                            <div class="infor-detail" style="margin-bottom: 0px">
                                <table class="table table-striped table-bordered table-sm infor-table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Sample</th>
                                            <th scope="col">Color</th>
                                            @foreach (var size in item.ListSize)
                                            {
                                                <th scope="col">@size.SizeCode</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var color in item.ListColor)
                                        {
                                            <tr>
                                                <td><img width="30" src="http://192.168.169.240/images/colors/@color.URLColor" /></td>
                                                <!--<td><img width="30" src="~/image/color1.png" />--><!--</td>-->
                                                <td>@color.ColorCode - @color.Description</td>
                                                @foreach (var size in item.ListSize)
                                                {
                                                    <td>
                                                        <div class="infor-detail-mount">
                                                            <input data-size="@size.SizeCode" data-color="@color.ColorCode" value="@item.GetQuatityByVariant(color.ColorCode,size.SizeCode)" class="infor-detail-mount-input input-amount-order" type="number">
                                                        </div>
                                                    </td>
                                                }

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="flex" style="justify-content: flex-end ">
                                <p style="font-weight: 500;">Quantity: <span class="AmountAndPrice inputAmount">@item.ItemByCustomer.Quantity</span></p>
                                <p style="font-weight: 500;margin-left: 40px">Total Amount: <span data-price="@item.ItemByCustomer.FOBPrice" data-currency="@item.ItemByCustomer.CurrencyCode.Trim()" class="AmountAndPrice inputTotalPrice">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", item.ItemByCustomer.TotalAmount)</span></p>
                            </div>
                            <div class="flex" style="justify-content: flex-start">
                                <div class="form-group flex mr-4">
                                    <label class="mr-3" style="font-weight: 500;">Currency:</label>
                                    <select style="margin-top: -5px;" data-live-search="true" data-live-search-style="startsWith" class="selectpicker form-control cbbCurrency" data-hide-disabled="true">
                                        @foreach (var c in Model.listCurrency)
                                        {
                                            <option value="@c.CurrencyCode">@c.CurrencyCode</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group flex ">
                                    <label class="mr-3" style="font-weight: 500;">Retail Price:</label>
                                    <input style="margin-top: -5px; max-width: 120px; border: 1px solid #495057;" value="@item.ItemByCustomer.RetailPrice" class="form-control InputRetaiPrice" type="text">
                                </div>
                            </div>

                            <div class="flex">
                                <button type="submit" data-itemcode="@item.ItemByCustomer.ItemCode" class="btn btn-primary btnConfirmAddItem">Add to Cart</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
}

<div class="modal" id="confirmAddItem" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Are you sure to add this item?</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input name="ItemCode" id="ItemCode" style="display: none" value="0">
                    <input name="FOBPrice" id="FOBPrice" style="display: none" value="0">
                    <input name="Currency" id="Currency" style="display: none" value="0">
                    <input name="RetailPrice" id="RetailPrice" style="display: none" value="0">
                    <input name="RetailCurrency" id="RetailCurrency" style="display: none" value="0">
                    <input name="arrayVariant" id="arrayVariant" style="display: none" value="0">
                    <div style="display: none">
                        <input name="Gender" id="GenderAddToCart" style="display: none" value="0">
                        <input name="Season" id="SeasonAddToCart" style="display: none" value="0">
                        <input name="Collection" id="CollectionAddToCart" style="display: none" value="0">
                    </div>
                    <button id="btnAddItemToCart" asp-action="InsertItemOrderToCart" class="btn btn-primary btn-sm">OK</button>
                    <button id="btnCancelAddItem" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="errAddToCart" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Please enter your Retail Price and Quantity!</h4>
            </div>
            <div class="modal-body">
                <button id="closeErrAddToCart" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="successNotification" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Successfully!</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmOrder" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Are you sure to confirm this order?</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div style="display: none">
                        <input name="Gender" id="GenderToOrder" style="display: none" value="0">
                        <input name="Season" id="SeasonToOrder" style="display: none" value="0">
                        <input name="Collection" id="CollectionToOrder" style="display: none" value="0">
                    </div>
                    <button asp-action="InsertOrder" class="btn btn-primary btn-sm">OK</button>
                    <button id="btnCancelOrder" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<form method="post" style="display: none">
    <div style="display: none">
        <input name="Gender" id="Gender" style="display: none" value="0">
        <input name="Season" id="Season" style="display: none" value="0">
        <input name="Collection" id="Collection" style="display: none" value="0">
    </div>
    
    <button asp-action="FilterItem" class="btn btn-primary btn-sm" id="btnToCallFilterAction"></button>
</form>

<div class="modal" id="successNotificationOrder" style="display: @(Model.notifiOrderSuccess? "block" : "none");background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">The order has been confirmed, go to purchase history to see details !</h4>
            </div>
            <div class="modal-body">
                <button id="closeSuccessNotificationOrder" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#example').bootstrapTable('destroy').bootstrapTable({
                toolbar: '.toolbar',
                search: true,
                showColumns: true,
                fixedColumns: true,
                fixedNumber: 0,
                fixedRightNumber: 0
            });

            $(".filterItemOrder").on("change", function () {
                $("#Gender").val($("#cbbGender").val());
                $("#Season").val($("#cbbSeason").val());
                $("#Collection").val($("#cbbCollection").val());

                $("#btnToCallFilterAction").click();
            });
            //get amount and total value

            $(".input-amount-order").keyup(function (e) {
                let countInput = Number($(this).parents('tbody').find('.input-amount-order').length);
                let arrayVal = '';
                let amount = 0;
                for (let i = 0; i < countInput; i++) {
                    arrayVal = arrayVal + $(this).parents('tbody').find('.input-amount-order').eq(i).val() + ',';
                    amount = amount  + Number($(this).parents('tbody').find('.input-amount-order').eq(i).val());
                }
                $(this).parents('form').find('.inputAmount').empty();
                $(this).parents('form').find('.inputAmount').append(amount);

                let Price = Number($(this).parents('form').find('.inputTotalPrice').attr('data-price'));
                let totalPrice = Price * amount;

                $(this).parents('form').find('.inputTotalPrice').empty();
                $(this).parents('form').find('.inputTotalPrice').append(totalPrice.toLocaleString());
            });

            $('#example').bootstrapTable('destroy').bootstrapTable({
                toolbar: '.toolbar',
                search: true,
                showColumns: true,
                fixedColumns: true,
                fixedNumber: 0,
                fixedRightNumber: 0
            });

            //confirm form
            $(".btnConfirmAddItem").click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                let retailPrice = $(this).parents('.infor-right').find('.InputRetaiPrice').val();
                let quantity = Number($(this).parents('.infor-right').find('.inputAmount')[0].innerHTML);
                console.log(quantity);

                if (retailPrice.length > 0 && quantity > 0) {
                    let ItemCode = $(this).attr('data-itemcode');

                    let countInput = Number($(this).parents('.infor-right').find('.input-amount-order').length);
                    let arrayVariant = '';
                    for (let i = 0; i < countInput; i++) {
                        let color = $(this).parents('.infor-right').find('.input-amount-order').eq(i).attr('data-color');
                        let size = $(this).parents('.infor-right').find('.input-amount-order').eq(i).attr('data-size');
                        let quantity = Number($(this).parents('.infor-right').find('.input-amount-order').eq(i).val());
                        if (quantity > 0)
                            arrayVariant = arrayVariant + color + ',' + size + ',' + quantity + ',';
                    }

                    let FOBPrice = Number($(this).parents('.infor-right').find('.inputTotalPrice').attr('data-price'));
                    let Currency = $(this).parents('.infor-right').find('.inputTotalPrice').attr('data-currency');
                    let RetailCurrency = $(this).parents('.infor-right').find('.cbbCurrency').val();

                    $("#ItemCode").val(ItemCode);
                    $("#FOBPrice").val(FOBPrice);
                    $("#Currency").val(Currency);
                    $("#RetailPrice").val(retailPrice);
                    $("#RetailCurrency").val(RetailCurrency);
                    $("#arrayVariant").val(arrayVariant);

                    $("#GenderAddToCart").val($("#cbbGender").val());
                    $("#SeasonAddToCart").val($("#cbbSeason").val());
                    $("#CollectionAddToCart").val($("#cbbCollection").val());

                    $("#confirmAddItem").fadeIn(300);

                } else
                    $("#errAddToCart").fadeIn(300);
            });

            //count totalPriceOrder
            let dem = Number($(".TotalOrder .totalPriceEachItem").length);
            if (dem > 0) {
                let totalPriceOrder = 0;
                for (let i = 0; i < dem; i++) {
                    let tempPrice = Number($(".TotalOrder .totalPriceEachItem").eq(i)[0].innerHTML.split(',').join(''));
                    console.log(tempPrice);
                    totalPriceOrder = totalPriceOrder + tempPrice;
                }
                totalPriceOrder = totalPriceOrder.toLocaleString();
                $(".TotalOrder #totalPriceOrder").empty();
                $(".TotalOrder #totalPriceOrder").append(totalPriceOrder);
            } else {
                $(".TotalOrder #totalPriceOrder").empty();
                $(".TotalOrder #totalPriceOrder").append('0');
            }

            $("#btnAddItemToCart").click(function (e) {
                $("#confirmAddItem").fadeOut(300);
                $("#successNotification").fadeIn(300);
            });

            $("#btnCancelAddItem").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#confirmAddItem").fadeOut(300);
            });

            $("#closeErrAddToCart").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#errAddToCart").fadeOut(300);
            });

            $("#closeSuccessNotification").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#successNotification").fadeOut(300);
            });

            $("#closeSuccessNotificationOrder").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#successNotificationOrder").fadeOut(300);
            });

            $("#btnConfirmOrder").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#GenderToOrder").val($("#cbbGender").val());
                $("#SeasonToOrder").val($("#cbbSeason").val());
                $("#CollectionToOrder").val($("#cbbCollection").val());
                $("#confirmOrder").fadeIn(300);
            });

            $("#btnCancelOrder").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#confirmOrder").fadeOut(300);
            });

        });
    </script>
}
