@model (List<Buyer.Mvc.Models.ItemByCustomerOrder> ListItemByCustomerOrder, List<Buyer.Mvc.Models.ItemSeason> listSeason, List<Buyer.Mvc.Models.ItemCategory> listCategory)
@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization;

@section CSS{
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="TotalOrder">
    <label for="nav-mobile-input" class="nav_bars-btn"><span>Total Cart</span></label>
    <input type="checkbox" hidden class="nav_input" id="nav-mobile-input">
    <label for="nav-mobile-input" class="nav_overlay" ></label>

    <div class="nav_mobile">
        <label for="nav-mobile-input" class="nav_mobile_close">
            <span class="btn btn-primary mb-2">Close</span> 
        </label>
        <form method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="infor-right">
                        <div class="price-box flex" style="padding-left: 50%;">
                            <p style="margin-bottom: 3px;transform: translateX(-50%);" class="price">TOTAl ORDER</p>
                        </div>
                        <div class="infor-detail">
                            <table id="TotalOrder" class="table table-striped table-bordered table-sm infor-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">FOBPrice</th>
                                        <th scope="col">Your Retail Price</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyTotalOrder">
                                    @*<tr>
                                        <td>Item001</td>
                                        <td>205.000</td>
                                        <td>230.000</td>
                                        <td>240</td>
                                        <td>15.000.000</td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TotalPrice" style="margin-left: 60%">
                <p style="margin-bottom: 0px; font-size: 20px; font-weight: 500">Total Order: <span id="totalPriceOrder">0</span>  VNĐ</p>
            </div>
            <button type="submit" class="btn btn-primary mt-4 mr-5">Confirm</button>
        </form>
    </div>
</div>

<div class="presentacion" style="padding: 0px;">
    <div class="logo">
        <img src="/image/logo-main.png" alt="">
    </div>
</div>

<div class="filter">
    <form>
        <select style="width: 300px">
            @foreach (var item in Model.listSeason)
            {
                <option value="@item.SeasonCode">@item.SeasonCode - @item.Description</option>
            }
        </select>

        <select style="width: 300px">
            @foreach (var item in Model.listCategory)
            {
                <option value="@item.CategoryCode">@item.CategoryCode - @item.Description</option>
            }
        </select>

    </form>
</div>


@foreach (var item in Model.ListItemByCustomerOrder)
{
    <section>
        <div class="container1">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            @*<img src="http://192.168.169.240/images/products/@item.ItemByCustomer.URLPicture.Trim()" style="max-width:100%" />*@
                            <img src="~/image/product/sp1.jpg" style="max-width:100%" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="infor-right">
                            <div class="price-box flex">
                                <p class="price">@item.ItemByCustomer.Description - @String.Format(CultureInfo.InvariantCulture, "{0:0,0}", item.ItemByCustomer.FOBPrice) @item.ItemByCustomer.CurrencyCode</p>
                            </div>
                            <div class="infor-detail">
                                <div class="box-gray o1">
                                    <div class="inventory flex">
                                        <span>Item Code:</span>
                                        <p>@item.ItemByCustomer.ItemCode</p>

                                    </div>
                                    <div class="product-code flex">
                                        <span>Season:</span>
                                        <p>@item.ItemByCustomer.SeasonCode - @item.ItemByCustomer.SeasonName</p>
                                    </div>
                                    <div class="product-code flex">
                                        <span>Collection:</span>
                                        <p>@item.ItemByCustomer.CollectionCode - @item.ItemByCustomer.CollectionName</p>
                                    </div>
                                </div>
                                <div class="box-gray o2 ">
                                    <div class="product-type flex">
                                        <span>Form:</span>
                                        <p>@item.ItemByCustomer.FormCode - @item.ItemByCustomer.FormName</p>
                                    </div>
                                    <div class="producer flex">
                                        <span>Pabric:</span>
                                        <p>@item.ItemByCustomer.Fabric</p>
                                    </div>
                                    <div class="product-type flex">
                                        <span>Category</span>
                                        <p>@item.ItemByCustomer.CategoryCode - @item.ItemByCustomer.CategoryName</p>
                                    </div>
                                </div>
                            </div>
                            <div class="infor-detail">
                                <table class="table table-striped table-bordered table-sm infor-table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Sample</th>
                                            <th scope="col">Color</th>
                                            @foreach (var size in item.ListSize)
                                            {
                                                <th scope="col">@size.SizeCode</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var color in item.ListColor)
                                        {
                                            <tr>
                                                @*<td><img width="30" src="http://192.168.169.240/images/colors/@color.URLColor" /></td>*@
                                                <td><img width="30" src="~/image/color1.png" /></td>
                                                <td>@color.ColorCode - @color.Description</td>
                                                @foreach (var size in item.ListSize)
                                                {
                                                    <td>
                                                        <div class="infor-detail-mount">
                                                            <input data-size="@size.SizeCode" data-color="@color.ColorCode" value="0" class="infor-detail-mount-input input-amount-order" type="number">
                                                        </div>
                                                    </td>
                                                }

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="flex" style="justify-content: space-between">
                                <div class="form-group flex">
                                    <label class="mr-3" style="font-weight: 500;">Your Retail Price:</label>
                                    <input style="margin-top: -5px; max-width: 150px; border: 1px solid #495057;" value="0" class="form-control InputRetaiPrice" type="number" >
                                </div>
                                <p style="font-weight: 500;">Amount: <span class="AmountAndPrice inputAmount">0</span></p>
                                <p style="font-weight: 500;">Total Price: <span data-price="@item.ItemByCustomer.FOBPrice" data-currency="@item.ItemByCustomer.CurrencyCode.Trim()"  class="AmountAndPrice inputTotalPrice">0</span></p>
                            </div>
                           
                            <div class="flex">
                                <button type="submit" data-itemcode="@item.ItemByCustomer.ItemCode" class="btn btn-primary mt-4 btnConfirmAddItem">Add to Cart</button>
                                <button style="margin-left: 50px" type="submit" class="btn btn-primary mt-4 mr-5 btnResetInput">Reset</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
}


<div class="modal" id="confirmAddItem" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Are you sure to add this item?</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input name="ItemCode" id="ItemCode" style="display: none" value="0">
                    <input name="FOBPrice" id="FOBPrice" style="display: none" value="0">
                    <input name="RetailPrice" id="RetailPrice" style="display: none" value="0">
                    <input name="TotalAmount" id="TotalAmount" style="display: none" value="0">
                    <input name="TotalPrice" id="TotalPrice" style="display: none" value="0">
                    @*<button asp-action="InsertItemOrder" class="btn btn-primary btn-sm">OK</button>*@
                    <button id="btnAddItemToCart" class="btn btn-primary btn-sm">OK</button>
                    <button id="btnCancelAddItem" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="errAddToCart" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">You have to enter your retail price for this item!</h4>
            </div>
            <div class="modal-body">
                <button id="closeErrAddToCart" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="successNotification" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Add cart successfully!</h4>
            </div>
            <div class="modal-body">
                <button id="closeSuccessNotification" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            //reset input lalue
            $(".btnResetInput").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).parents('.infor-right').find('.input-amount-order').val(0);
                $(this).parents('.infor-right').find('.inputAmount').empty().append('0');
                $(this).parents('.infor-right').find('.inputTotalPrice').empty().append('0');
                $(this).parents('.infor-right').find('.InputRetaiPrice').val(0);
            });
            //get amount and total value 
            $(".input-amount-order").keyup(function (e) {
                let countInput = Number($(this).parents('tbody').find('.input-amount-order').length);
                let arrayVal = '';
                let amount = 0;
                for (let i = 0; i < countInput; i++) {
                    arrayVal = arrayVal + $(this).parents('tbody').find('.input-amount-order').eq(i).val() + ',';
                    amount = amount  + Number($(this).parents('tbody').find('.input-amount-order').eq(i).val());
                }
                $(this).parents('form').find('.inputAmount').empty();
                $(this).parents('form').find('.inputAmount').append(amount);

                let Price = Number($(this).parents('form').find('.inputTotalPrice').attr('data-price'));
                let totalPrice = Price * amount;
                let currency = ' ' + $(this).parents('form').find('.inputTotalPrice').attr('data-currency');

                $(this).parents('form').find('.inputTotalPrice').empty();
                $(this).parents('form').find('.inputTotalPrice').append(totalPrice.toLocaleString());
            });

            $('#example').bootstrapTable('destroy').bootstrapTable({
                toolbar: '.toolbar',
                search: true,
                showColumns: true,
                fixedColumns: true,
                fixedNumber: 0,
                fixedRightNumber: 0
            });

            //confirm form
            $(".btnConfirmAddItem").click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                let retailPrice = Number($(this).parents('.infor-right').find('.InputRetaiPrice').val());

                if (retailPrice > 0) {
                    let ItemCode = $(this).attr('data-itemcode');
                    
                    let countInput = Number($(this).parents('.infor-right').find('.input-amount-order').length);
                    let arrayVal = '';
                    for (let i = 0; i < countInput; i++) {
                        let color = $(this).parents('.infor-right').find('.input-amount-order').eq(i).attr('data-color');
                        let size = $(this).parents('.infor-right').find('.input-amount-order').eq(i).attr('data-size');
                        let quantity = Number($(this).parents('.infor-right').find('.input-amount-order').eq(i).val());
                        if (quantity > 0)
                            arrayVal = arrayVal + ItemCode + ',' + color + ',' + size + ',' + quantity + ',';
                    }

                    //console.log(arrayVal);

                    let FOBPrice = Number($(this).parents('.infor-right').find('.inputTotalPrice').attr('data-price')); 
                    let totalAmount = Number($(this).parents('.infor-right').find('.inputAmount').text());
                    let totalPrice = $(this).parents('.infor-right').find('.inputTotalPrice').text();

                    //console.log(ItemCode + ' ' + FOBPrice + ' ' + retailPrice + ' ' + totalAmount + ' ' + totalPrice);

                    $("#ItemCode").val(ItemCode);
                    $("#FOBPrice").val(FOBPrice);
                    $("#RetailPrice").val(retailPrice);
                    $("#TotalAmount").val(totalAmount);
                    $("#TotalPrice").val(totalPrice);

                    $("#confirmAddItem").fadeIn(300);

                } else
                    $("#errAddToCart").fadeIn(300);          
            });

            $("#btnAddItemToCart").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                let ItemCode = $("#ItemCode").val();
                let FOBPrice = $("#FOBPrice").val();
                let RetailPrice = $("#RetailPrice").val();
                let TotalAmount = $("#TotalAmount").val();
                let TotalPrice = $("#TotalPrice").val(); 

                $(`<tr>
                    <td>${ItemCode}</td>
                    <td>${FOBPrice}</td>
                    <td>${RetailPrice}</td>
                    <td>${TotalAmount}</td>
                    <td class="totalPriceEachItem">${TotalPrice}</td>
                </tr>`).appendTo('#bodyTotalOrder');

                //reset input
                $('.input-amount-order').val(0);
                $('.inputAmount').empty().append('0');
                $('.inputTotalPrice').empty().append('0');
                $('.InputRetaiPrice').val(0);

                //count totalPriceOrder 
                let dem = Number($(".TotalOrder .totalPriceEachItem").length);
                let totalPriceOrder = 0;
                for (let i = 0; i < dem; i++) {
                    let tempPrice = Number($(".TotalOrder .totalPriceEachItem").eq(i)[0].innerHTML.split('.').join(''));
                    console.log(tempPrice);
                    totalPriceOrder = totalPriceOrder + tempPrice;
                }

                $(".TotalOrder #totalPriceOrder").empty();
                $(".TotalOrder #totalPriceOrder").append(totalPriceOrder.toLocaleString());

                $("#confirmAddItem").fadeOut(300);
                $("#successNotification").fadeIn(300);

            });

            $("#btnCancelAddItem").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#confirmAddItem").fadeOut(300);
            });

            $("#closeErrAddToCart").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#errAddToCart").fadeOut(300);
            });

            $("#closeSuccessNotification").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#successNotification").fadeOut(300);
            });
            
        });
    </script>
}
