@model (List<Buyer.Mvc.Models.Product.Product> Products, List<Buyer.Mvc.Models.Producer.Producer> Producers, List<Buyer.Mvc.Models.Room.Room> Rooms, Buyer.Mvc.Models.User.User User, bool enableFormAddProduct, string idInsert, string idErr, bool deleteErr)
@{
    Layout = "_LayoutFurniture";
    ViewData["Title"] = "Manage product";
}

<section class="manage">
    <div class="container">
        <div class="cart-infor">
            <div class="nav-manage flex j-center">
                <a id="manage-product" style="width: 15%;" href="#">Sản Phẩm</a>
                <a id="manage-user" style="width: 15%;" href="~/Manage/ManageUser">Tài Khoản</a>
                <a style="width: 15%;" href="~/History/Index">Đơn Hàng</a>
                <a style="width: 15%;" href="#">Nhà Cung Cấp</a>
            </div>
            <a style="font-size: 17px;" class="btn btn-primary"href="~/Page/Index?userMain=@Model.User.username.Trim()">Back To Home</a>
            <button style="font-size: 17px;" class="btn btn-primary" id="btnAddProduct">Thêm Sản Phẩm</button>
            <div style="font-size: 15px;" class="card rounded shadow border-0">
                <div class="card-body p-2 bg-white rounded">
                    <table id="example" style="width:100%" class="example table table-striped table-bordered"
                           data-show-export="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-click-to-select="true"
                           data-height="600"
                           data-export-types=['excel']
                           @*data-page-list="[10, 25, 50, 100, 200, All]"*@>
                        <thead>
                            <tr>
                                <th>Mã Sản Phẩm</th>
                                <th>Ảnh Sản Phẩm</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Giá</th>
                                <th>Giá Cũ</th>
                                <th>Số Lượng Tồn</th>
                                <th>Mã Loại</th>
                                <th>Nhà SX</th>
                                <th>Cập nhật</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td>@item.id.Trim()</td>
                                    <td data-image="@item.photo.Trim()"><img style="max-width: 40px;" src="@item.photo" alt=""></td>
                                    <td>@item.name.Trim()</td>
                                    <td>@item.price</td>
                                    <td>@item.oldPrice</td>
                                    <td>@item.amount</td>
                                    <td>@item.roomId.Trim()</td>
                                    <td>@item.producerId.Trim()</td>
                                    <td><button style="font-size: 17px;" class="btn btn-primary btn-sm btnEdit" data-id="@item.id.Trim()">Edit</button></td>
                                    <td><button style="font-size: 17px;" class="btn btn-primary btn-sm btnDelete" data-id="@item.id.Trim()">Delete</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="formInsert" class="form-product" style="display: @(Model.enableFormAddProduct ? "block" : "none")">
    <div class="registration">
        <form method="post">
            <div class="title flex j-between">
                <p>THÔNG TIN SẢN PHẨM</p>
            </div>
            <div>
                <input asp-for="@Model.idInsert" name="id" type="text" placeholder="Mã sản phẩm" required>
                <span style="color:red">@Model.idErr</span>
            </div>
            <div>
                <input name="name" type="text" placeholder="Tên sản phẩm" required>
            </div>
            <div>
                <input name="price" type="text" placeholder="Giá" required>
            </div>
            <div>
                <input name="oldPrice" type="text" placeholder="Giá Cũ" required>
            </div>
            <div>
                <input name="photo" type="text" placeholder="link ảnh sản phẩm" required>
            </div>
            <div>
                <input name="amount" type="text" placeholder="Số lượng tồn" required>
            </div>
            <div>
                <p>Loại sản phẩm: </p>
                <select name="roomId" type="text" placeholder="Id loại sản phẩm" style="width: 50%;margin-top: 5px;margin-bottom: 5px">
                    @foreach (var item in Model.Rooms)
                    {
                        <option value="@item.id.Trim()">@item.id.Trim() - @item.name.Trim()</option>
                    }
                </select>
            </div>
            <div>
                <p>Nhà cung cấp: </p>
                <select name="producerId" type="text" placeholder="Id nhà cung cấp" style="width: 50%;margin-top: 5px;margin-bottom: 5px">
                    @foreach (var item in Model.Producers)
                    {
                        <option value="@item.id.Trim()">@item.id.Trim() - @item.name.Trim()</option>
                    }
                </select>
            </div>
            <div class="btn flex j-center">
                <button asp-action="InsertProduct" class="show-all btn-registration-second mr-3">THÊM SẢN PHẨM</button>
                <button class="show-all btn-registration-second" id="closeInsertForm">Close</button>
            </div>
        </form>
    </div>
</div>

<div id="formEdit" class="form-product">
    <div class="registration">
        <form method="post">
            <div class="title flex j-between">
                <p>THÔNG TIN SẢN PHẨM</p>
            </div>
            <div style="display: none">
                <input id="idEdit" name="id" type="text" value="">
            </div>
            <div>
                <input id="idToEdit" type="text" disabled>
            </div>
            <div>
                <input id="nameEdit" name="name" type="text" placeholder="Tên sản phẩm" required>
            </div>
            <div>
                <input id="priceEdit" name="price" type="number" placeholder="Giá" required>
            </div>
            <div>
                <input id="oldPriceEdit" name="oldPrice" type="number" placeholder="Giá Cũ" required>
            </div>
            <div>
                <input id="photoEdit" name="photo" type="text" placeholder="link ảnh sản phẩm" required>
            </div>
            <div>
                <input id="amountEdit" name="amount" type="number" placeholder="Số lượng tồn" required>
            </div>
            <div>
                <p>Loại sản phẩm: </p>
                <select name="roomId" type="text" placeholder="Id loại sản phẩm" style="width: 50%;margin-top: 5px;margin-bottom: 5px"> 
                    <option id="roomIdEdit" selected></option>
                    @foreach (var item in Model.Rooms)
                    {
                        <option value="@item.id.Trim()">@item.id.Trim() - @item.name.Trim()</option>
                    }
                </select>
            </div>
            <div>
                <p>Nhà cung cấp: </p>
                <select name="producerId" type="text" placeholder="Id nhà cung cấp" style="width: 50%;margin-top: 5px;margin-bottom: 5px">
                    <option id="producerIdEdit" selected></option>
                    @foreach (var item in Model.Producers)
                    {
                        <option value="@item.id.Trim()">@item.id.Trim() - @item.name.Trim()</option>
                    }
                </select>
            </div>
            <div class="btn flex j-center">
                <button asp-action="EditProduct" class="show-all btn-registration-second mr-3">Lưu Thay Đổi</button>
                <button class="show-all btn-registration-second" id="closeEditForm">Close</button>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="confirmDelete" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Bạn có chắc chắn muốn xóa sản phẩm này?</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input id="idToDelete" name="id" style="display: none" />
                    <button asp-action="DeleteProduct" class="btn btn-primary btn-sm">OK</button>
                    <button id="btnCloseDelete" type="button" class="btn btn-danger btn-sm">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="DeleteErr" style="display:@(Model.deleteErr == true ? "block" : "none") ;background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Sản phẩm đã tồn tại trong đơn hàng, không thể xóa!</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <button id="btnCloseDeleteErr" type="button" class="btn btn-danger btn-sm">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

@if (Model.User.username == null)
{
    @section Htmls_User {
        <div class="items col-md-4 j-end">
            <div class="logo-right flex a-center j-end">
                <div class="login-registration flex ">
                    <i class="fas fa-sign-in-alt"></i>
                    <ul>
                        <li class="btn-login">Log in</li>
                        <li class="btn-registration">Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    }
}
else
{
    @section Htmls_User {
        <div class="items col-md-4 j-end">
            <div class="logo-right flex a-center j-end">
                <div class="infor-user flex j-between">
                    <i><img src="~/image/user/@Model.User.photo.Trim()" alt="photo"></i>
                    <p>@Model.User.username.Trim()</p>
                </div>
            </div>
        </div>
    }

    @section Infor_User {
        <div class="container-detail-user">
            <div class="detail-user">
                <div class="title-user flex j-center">
                    <span></span>
                    <div class="parent-title">
                        <a href="#">THÔNG TIN TÀI KHOẢN</a>
                    </div>
                </div>
                <div class="flex j-between">
                    <div class="user-left">
                        <img src="~/image/user/@Model.User.photo.Trim()" alt="avatar">
                    </div>
                    <div class="user-right">
                        <div class="username">
                            <p>@Model.User.username</p>
                        </div>
                        <ul class="information-user">
                            <li>
                                Họ Tên: <p>@Model.User.fullname</p>
                            </li>
                            <li>
                                Email: <p>@Model.User.email</p>
                            </li>
                            <li>
                                SDT: <p>@Model.User.phone</p>
                            </li>
                            <li>
                                Ngày Sinh: <p>26 / 08 / 1999</p>
                            </li>
                        </ul>
                        <div class="flex j-between">
                            <a class="btn btn-admin" href="~/Manage/Index"><span>Quản lí WEB</span></a>
                            <a class="btn btn-singout" href="~/Page/Index"><span>Đăng Xuất</span></a>
                            <button class="btn btn-close"><span>close</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    <script>
        $(function () {
            $('.example').bootstrapTable('destroy').bootstrapTable({
                toolbar: '.toolbar',
                search: true,
                showColumns: true,
                fixedColumns: true,
                fixedNumber: 0,
                fixedRightNumber: 0
            });
            //mở form đăng nhập
            $(".btn-login").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(".container-login").show(300);
            });
            //đóng form đăng nhập
            $(".close-login").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(".container-login").hide(300);
            });
            //information-user
            $(".infor-user").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(".container-detail-user").show(300);
            });

            $(".btn-close").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(".container-detail-user").hide(200);
            });

            //form-add-product
            $("#btnAddProduct").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#formInsert").show(300);
            });

            $("#closeInsertForm").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#formInsert").hide(300);
            });

            //deleteproduct
            $(".btnDelete").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#idToDelete").val($(this).attr('data-id'));
                $("#confirmDelete").show(300);
            });

            $("#btnCloseDelete").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#confirmDelete").hide(300);
            });

            $("#btnCloseDeleteErr").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#DeleteErr").hide(300);
            });

            //form-edit-product
            $(".btnEdit").click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                let id = $(this).parents('td').siblings().eq(0)[0].innerHTML;
                let photo = $(this).parents('td').siblings().eq(1).attr('data-image');
                let name = $(this).parents('td').siblings().eq(2)[0].innerHTML;
                let price = Number($(this).parents('td').siblings().eq(3)[0].innerHTML);
                let oldPrice = Number($(this).parents('td').siblings().eq(4)[0].innerHTML);
                let amount = Number($(this).parents('td').siblings().eq(5)[0].innerHTML);
                let roomId = $(this).parents('td').siblings().eq(6)[0].innerHTML;
                let prooductId = $(this).parents('td').siblings().eq(7)[0].innerHTML;

                $('#idEdit').attr('value', id);
                $('#idToEdit').attr('value', id);
                $('#photoEdit').attr('value', photo);
                $('#nameEdit').attr('value', name);
                $('#priceEdit').attr('value', price);
                $('#oldPriceEdit').attr('value', oldPrice);
                $('#amountEdit').attr('value', amount);
                $('#roomIdEdit').attr('value', roomId);
                $('#roomIdEdit').text(roomId);
                $('#producerIdEdit').attr('value', prooductId);
                $('#producerIdEdit').text(prooductId);

                $("#formEdit").show(300);
            });

            $("#closeEditForm").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#formEdit").hide(300);
            });

        });
    </script>
}
