@model (Buyer.Mvc.Models.Order.Order Order, List<Buyer.Mvc.Models.DetailOrder.DetailOrder> DetailOrders, Buyer.Mvc.Models.User.User User, int totalQuantity)
@{
    Layout = "_LayoutFurniture";
    ViewData["Title"] = "Detail Order";
}
@using System.Globalization;

@if (Model.User.username == null)
{
    @section Htmls_User {
        <div class="items col-md-4 j-end">
            <div class="logo-right flex a-center j-end">
                <div class="login-registration flex ">
                    <i class="fas fa-sign-in-alt"></i>
                    <ul>
                        <li class="btn-login">Log in</li>
                        <li class="btn-registration">Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    }
}
else
{
    @section Htmls_User {
        <div class="items col-md-4 j-end">
            <div class="logo-right flex a-center j-end">
                <div class="infor-user flex j-between">
                    <i><img src="~/image/user/@Model.User.photo.Trim()" alt="photo"></i>
                    <p>@Model.User.username.Trim()</p>
                </div>
            </div>
        </div>
    }

    @section Infor_User {
        <div class="container-detail-user">
            <div class="detail-user">
                <div class="title-user flex j-center">
                    <span></span>
                    <div class="parent-title">
                        <a href="#">THÔNG TIN TÀI KHOẢN</a>
                    </div>
                </div>
                <div class="flex j-between">
                    <div class="user-left">
                        <img src="~/image/user/@Model.User.photo.Trim()" alt="avatar">
                    </div>
                    <div class="user-right">
                        <div class="username">
                            <p>@Model.User.username</p>
                        </div>
                        <ul class="information-user">
                            <li>
                                Họ Tên: <p>@Model.User.fullname</p>
                            </li>
                            <li>
                                Email: <p>@Model.User.email</p>
                            </li>
                            <li>
                                SDT: <p>@Model.User.phone</p>
                            </li>
                            <li>
                                Ngày Sinh: <p>26 / 08 / 1999</p>
                            </li>
                        </ul>
                        <div class="flex j-between">
                            @if (Model.User.admin)
                            {
                                <a class="btn btn-admin" href="/Manage/Index"><span>Quản lí WEB</span></a>
                            }
                            <a class="btn btn-singout" href="~/Page/Index"><span>Đăng Xuất</span></a>
                            <button class="btn btn-close"><span>close</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<section style="margin-left: 10%; margin-right: 10%;">
    <div class="container1" style="padding: 10px 10px; box-shadow: 5px 5px 10px 5px #b0b0b0; border-radius: 10px; padding: 30px; margin-top: 10px; margin-bottom: 20px">
        <div class="title" style="text-align: center;"><h1 class="text text-secondary">Chi Tiết Đơn Hàng</h1></div>
        <div class="HeaderDetailOrder" style="border: 1px solid #dee2e6; border-radius: 10px; padding: 10px 40px; box-shadow: 3px 6px 3px 6px #d6d2d2; margin-bottom: 30px">
            <div class="form-group mb-4" style="color: #333; font-size:16px">
                <div class="form-row p-1 mb-4">
                    <div class="col">
                        <a><span>Order ID:  </span>@Model.Order.id</a>
                    </div>
                    <div class="col">
                        <a><span>Quantity:  </span>@Model.totalQuantity</a>
                    </div>
                </div>
                <div class="form-row p-1 mb-4">
                    <div class="col">
                        <a><span>Status:  </span>@Model.Order.status</a>
                    </div>
                    <div class="col">
                        <a><span>Date Order:  </span>@Model.Order.date</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-left: 50%;transform: translateX(-50%); width: 50%; padding-top: 20px; padding-left: 20px;display: @(Model.Order.status.Trim().Equals("Canceled")? "none" : "block")">
            <div class="position-relative mb-5">
                <div class="progress" style="height: 4px;">
                    <div class="progress-bar" role="progressbar" style="width: @(Model.Order.status.Trim().Equals("Ordered")? "33%" : Model.Order.status.Trim().Equals("Confirmed")? "66%" : "100%");" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <button class="position-absolute btn btn-sm btn-primary rounded-pill" style="width: 2rem; height: 2rem; top: 0 !important; transform: translate(-50%,-50%) !important;">1</button>
                <span class="position-absolute" style="top: 35px !important; transform: translate(-50%,-50%) !important; border-bottom: 1px solid">New</span>
                <button class="position-absolute btn btn-sm btn-primary rounded-pill" style="width: 2rem; height: 2rem; left: 33% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">2</button>
                <span class="position-absolute" style="left: 33% !important; top: 35px !important; transform: translate(-50%,-50%) !important; border-bottom: 1px solid">Ordered</span>
                @if (Model.Order.status.Trim().Equals("Confirmed") || Model.Order.status.Trim().Equals("Completed"))
                {
                    <button class="position-absolute btn btn-sm btn-primary rounded-pill" style="width: 2rem; height: 2rem; left: 66% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">3</button>
                }
                else
                {
                    <button class="position-absolute btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height: 2rem; left: 66% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">3</button>
                }
                <span class="position-absolute" style="left: 66% !important; top: 35px !important; transform: translate(-50%,-50%) !important; border-bottom: 1px solid">Confirmed</span>
                @if (Model.Order.status.Trim().Equals("Completed"))
                {
                    <button class="position-absolute btn btn-sm btn-primary rounded-pill" style="width: 2rem; height: 2rem; left: 100% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">4</button>
                }
                else
                {
                    <button class="position-absolute btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height: 2rem; left: 100% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">4</button>
                }
                <span class="position-absolute" style="left: 100% !important; top: 35px !important; transform: translate(-50%,-50%) !important; border-bottom: 1px solid">Completed</span>
            </div>
        </div>

        <form method="post" style="padding-top: 20px">
            <div class="flex" style="margin-bottom: -40px">
                <a class="btn btn-primary mr-5" href="/Page/Index?userMain=@Model.User.username.Trim()">Continue Shopping</a>
                <a class="btn btn-primary mr-5" asp-action="Index">Back To List Order</a>
                @if (Model.Order.status.Trim().Equals("Canceled"))
                {
                    <p style="color:red">*Đơn hàng đã bị hủy!</p>
                }
                else if (Model.Order.status.Trim().Equals("Confirmed"))
                {
                    @if (Model.User.admin)
                    {
                        <button data-OrderID="@Model.Order.id" class="btn btn-primary mr-5" id="btnCompleteOrder">Complete</button>
                    }
                    else
                    {
                        <p style="color:red">*Đơn hàng đang được xử lí!</p>
                    }
                }
                else if (Model.Order.status.Trim().Equals("Completed"))
                {
                    <p style="color:red">*Đơn hàng đã được xử lí!</p>
                }
                else
                {
                    @if (Model.User.admin)
                    {
                        <button data-OrderID="@Model.Order.id" class="btn btn-primary mr-5" id="btnConfirmOrder">Confirm</button>
                    }
                    <button data-OrderID="@Model.Order.id" class="btn btn-primary" id="btnCancelOrder">Cancel Order</button>
                }

            </div>
            <table id="example1" class="table table-striped table-bordered table-sm infor-table"
                   data-show-export="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-export-data-type="excel"
                   data-click-to-select="true"
                   data-height="600"
                   data-pagination="true"
                   data-export-types=['excel']
                   data-page-list="[10, 25, 50, 100, 200, All]">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Product Id</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody id="bodyTotalOrder">
                    @foreach (var item in Model.DetailOrders)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.productId</td>
                            <td>@item.quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</section>

<div class="modal" id="confirmCancelOrder" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Are you sure to cancel this order?</h4>
            </div>
            <div class="modal-body">
                <form>
                    <a id="OrderIDCancel" href="" class="btn btn-primary btn-sm">OK</a>
                    <button id="btnCloseCancelOrder" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmConfirmOrder" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Are you sure to confirm this order?</h4>
            </div>
            <div class="modal-body">
                <form>
                    <a id="OrderIDConfirm" href="" class="btn btn-primary btn-sm">OK</a>
                    <button id="btnCloseConfirmOrder" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmCompleteOrder" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Are you sure to complete this order?</h4>
            </div>
            <div class="modal-body">
                <form>
                    <a id="OrderIDComplete" href="" class="btn btn-primary btn-sm">OK</a>
                    <button id="btnCloseCompleteOrder" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#example1').bootstrapTable('destroy').bootstrapTable({
                toolbar: '.toolbar',
                search: true,
                showColumns: true,
                fixedColumns: true,
                fixedNumber: 0,
                fixedRightNumber: 0
            });

            $("#btnCancelOrder").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                var id = $(this).attr('data-OrderID');
                $("#OrderIDCancel").attr('href', `/History/CancelOrder/${id}`);

                $("#confirmCancelOrder").fadeIn(300);
            });

            $("#btnCloseCancelOrder").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#confirmCancelOrder").fadeOut(300);
            });

            $("#btnConfirmOrder").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                var id = $(this).attr('data-OrderID');
                $("#OrderIDConfirm").attr('href', `/History/ConfirmOrder/${id}`);

                $("#confirmConfirmOrder").fadeIn(300);
            });

            $("#btnCloseConfirmOrder").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#confirmConfirmOrder").fadeOut(300);
            });

            $("#btnCompleteOrder").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                var id = $(this).attr('data-OrderID');
                $("#OrderIDComplete").attr('href', `/History/CompleteOrder/${id}`);

                $("#confirmCompleteOrder").fadeIn(300);
            });

            $("#btnCloseCompleteOrder").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#confirmCompleteOrder").fadeOut(300);
            });
        });
    </script>
}