@model (Buyer.Mvc.Models.OrderHeader OrderHeader, List<Buyer.Mvc.Models.OrderLine> ListOrderLine)
@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization;

<section style=";margin-left: 5%; margin-right: 5%;">
    <div class="container1" style="padding: 10px 10px; box-shadow: 5px 5px 10px 5px #b0b0b0; border-radius: 10px; padding: 30px; margin-top: 10px; margin-bottom: 20px">
        <div class="title" style="text-align: center;"><h1 class="text text-secondary">Chi Tiết Đơn Hàng</h1></div>
        <div class="HeaderDetailOrder" style="border: 1px solid #dee2e6; border-radius: 10px; padding: 10px 40px; box-shadow: 3px 6px 3px 6px #d6d2d2; margin-bottom: 30px">
            <div class="form-group mb-4" style="color: #333; font-size:16px">
                <div class="form-row p-1 mb-4">
                    <div class="col">
                        <a><span>Order ID:  </span>@Model.OrderHeader.OrderID</a>
                    </div>
                    <div class="col">
                        <a><span>Quantity:  </span>@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", Model.OrderHeader.Quantity)</a>
                    </div>
                </div>
                <div class="form-row p-1 mb-4">
                    <div class="col">
                        <a><span>Status:  </span>@Model.OrderHeader.Status</a>
                    </div>
                    <div class="col">
                        <a><span>Total Amount:  </span>@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", Model.OrderHeader.TotalAmount)</a>
                    </div>
                </div>
                <div class="form-row p-1 mb-4">
                    <div class="col">
                        <a><span>Date Order:  </span>@Model.OrderHeader.OrderDate</a>
                    </div>
                    <div class="col">
                        <a><span>Last Changed Date:  </span>@Model.OrderHeader.LastChangedDate</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-left: 50%;transform: translateX(-50%); width: 50%; padding-top: 20px; padding-left: 20px;display: @(Model.OrderHeader.Status.Equals("Canceled")? "none" : "block")">
            <div class="position-relative mb-5">
                <div class="progress" style="height: 4px;">
                    <div class="progress-bar" role="progressbar" style="width: @(Model.OrderHeader.Status.Equals("Ordered")? "33%" : Model.OrderHeader.Status.Equals("Confirmed")? "66%" : "100%");" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <button class="position-absolute btn btn-sm btn-primary rounded-pill" style="width: 2rem; height: 2rem; top: 0 !important; transform: translate(-50%,-50%) !important;">1</button>
                <span class="position-absolute" style="top: 35px !important; transform: translate(-50%,-50%) !important; border-bottom: 1px solid">New</span>
                <button class="position-absolute btn btn-sm btn-primary rounded-pill" style="width: 2rem; height: 2rem; left: 33% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">2</button>
                <span class="position-absolute" style="left: 33% !important; top: 35px !important; transform: translate(-50%,-50%) !important; border-bottom: 1px solid">Ordered</span>
                @if (Model.OrderHeader.Status.Equals("Confirmed") || Model.OrderHeader.Status.Equals("Completed"))
                {
                    <button class="position-absolute btn btn-sm btn-primary rounded-pill" style="width: 2rem; height: 2rem; left: 66% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">3</button>
                }
                else
                {
                    <button class="position-absolute btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height: 2rem; left: 66% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">3</button>
                }
                <span class="position-absolute" style="left: 66% !important; top: 35px !important; transform: translate(-50%,-50%) !important; border-bottom: 1px solid">Confirmed</span>
                @if (Model.OrderHeader.Status.Equals("Completed"))
                {
                    <button class="position-absolute btn btn-sm btn-primary rounded-pill" style="width: 2rem; height: 2rem; left: 100% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">4</button>
                }
                else
                {
                    <button class="position-absolute btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height: 2rem; left: 100% !important; top: 0 !important; transform: translate(-50%,-50%) !important;">4</button>
                }
                <span class="position-absolute" style="left: 100% !important; top: 35px !important; transform: translate(-50%,-50%) !important; border-bottom: 1px solid">Completed</span>
            </div>
        </div>

        <form method="post" style="padding-top: 20px">
            <div class="flex" style="margin-bottom: -40px">
                <a class="btn btn-primary mr-5" asp-action="Index">Back To List Order</a>
                @if (Model.OrderHeader.Status.Equals("Canceled"))
                {
                    <p style="color:red">*Đơn hàng đã bị hủy!</p>
                }
                else if (Model.OrderHeader.Status.Equals("Comfirmed"))
                {
                    <p style="color:red">*Đơn hàng đang được xử lí!</p>
                }
                else if (Model.OrderHeader.Status.Equals("Completed"))
                {
                    <p style="color:red">*Đơn hàng đã được xử lí!</p>
                }
                else
                {
                    <button data-OrderID="@Model.OrderHeader.OrderID" class="btn btn-primary" id="btnCancelOrder">Cancel Order</button>
                }
            </div>
            <table id="example1" class="table table-striped table-bordered table-sm infor-table"
                   data-show-export="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-export-data-type="excel"
                   data-click-to-select="true"
                   data-height="600"
                   data-pagination="true"
                   data-export-types=['excel']
                   data-page-list="[10, 25, 50, 100, 200, All]">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Item Code</th>
                        <th scope="col">Sample</th>
                        <th scope="col">Color</th>
                        <th scope="col">Color Sample</th>
                        <th scope="col">Size</th>
                        <th scope="col">Sale Price</th>
                        <th scope="col">Retail Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody id="bodyTotalOrder">
                    @foreach (var item in Model.ListOrderLine)
                    {
                        <tr>
                            <td>@item.ItemCode</td>
                            @*<td data-image="@item.URLPicture.Trim()"><img width="30" src="http://192.168.169.240/images/products/@item.URLPicture.Trim()" /></td>*@
                            
                            <td>@item.ColorCode @item.ColorName</td>
                            @*<td data-image="@item.URLColor.Trim()"><img width="30" src="http://192.168.169.240/images/colors/@item.URLColor" /></td>*@
                            
                            <td>@item.Size</td>
                            <td data-FOBPrice="@item.FOBPrice">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", item.FOBPrice) @item.Currency</td>
                            <td data-RetailPrice="@item.RetailPrice">@item.RetailPrice @item.CurrencyRetail</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</section>

<div class="modal" id="confirmCancelOrder" style="background-color: rgb(79 77 77 / 30%);">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%;">
            <div class="modal-header">
                <h4 class="modal-title" id="addTargetLabel">Are you sure to cancel this order?</h4>
            </div>
            <div class="modal-body">
                <form>
                    <a id="OrderIDCancel" href="" class="btn btn-primary btn-sm">OK</a>
                    <button id="btnCloseCancelOrder" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </form> 
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#example1').bootstrapTable('destroy').bootstrapTable({
                toolbar: '.toolbar',
                search: true,
                showColumns: true,
                fixedColumns: true,
                fixedNumber: 0,
                fixedRightNumber: 0
            });

            $("#btnCancelOrder").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                var id = $(this).attr('data-OrderID');
                $("#OrderIDCancel").attr('href', `/History/CancelOrder/${id}`);

                $("#confirmCancelOrder").fadeIn(300);
            });

            $("#btnCloseCancelOrder").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#confirmCancelOrder").fadeOut(300);
            });
        });
    </script>
}